/* font from googlefont */



/* body{
    margin:0;   
} */

/* style the container */
/* .grid-container{ */
 /* display: grid; */
 /* gap: 10px; */
 /* padding:10px; */
/* } */
/* .row { */
  /* border: 0.3px solid grey; */
  /* padding: 15px;
  border-radius: 5px; */
  /* background: #f0f0f0; */
/* } */

/* .col {
  border: inherit;
  padding: 10px 10px; */
  /* background: #e0e0e0; */
/* } */

/* first row style */

/*  */

/* style navbar */
/* .navbar{
    display:flex;
    align-items: center;
    justify-content: center;
    padding-left: 200px; */
/*     
}
.navbar:hover{
    color: yellow;
    cursor:pointer;
}
.col-75{
    font-size: 20px;
}
.brand{
    font-size: 25px;
    /* rgb (0,200,255) */
/* }
.col-25{
    display: flex;
    justify-content: end;
}

.button{

    display: flex;
    border-radius: 5px;
    background-color: blue;
    color: white;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 10px;
    cursor: pointer;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 17px;
    border-radius: 50px;
}


.button:hover{
    color: yellow;
    cursor: pointer;
}
.row-2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: none;
/* } */ 
/* 
.row-3{ 
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: none;
} */

.row-1{
    display: flex;
}
.row-5{
    display: flex;
}
.row-8{
    display: flex;
}